/*#sidebar {
	height: 100vh;
	width: 250px;
	background-color: #28ed95;
	margin-top:-5px;
	background-size: cover;
	position: fixed;
	margin-top: 10px;

	style="height: 100vh; background-color: #f8f9fa;"
}*/
body {
	font-family: 'Lato', sans-serif;
}

#sidebar .row #kirinav{
	height: 100%;
	width: 17%;
	background-color:#f8f9fa;
}
#colum {
	padding-left: 200px;
	padding-right: 30px ;
	margin-top: 90px;
	text-align: justify;
}

.nav {
	margin-top: 80px;
	padding-left: 10px;
}

.nav span {
	text-shadow: 0 0 0 #f7f6f6;
	font-size: 110%;
	font-weight:bold;
	color: #111010;
}

.nav .I{
	weight :10px ;
	background: rgb(231,233,35);
	background: linear-gradient(20deg, rgba(231,233,35,1) 11%, rgba(193,23,51,1) 46%, rgba(190,0,255,1) 76%);
}

.nav .W{
	background:#25f505;
}

.nav .T{
	background: #151715;
}

.nav img{
	width: 140px;
	height: 137px;
	margin-left: -5px;
	border-style:solid;
}


#nav1 a i{
	margin-right: 10px;
}
#About {
	padding-top: 70px;
}
#Contac {
	padding-top: 60px;
}
footer {
	margin-left: -40px;
}
footer p{
	font-size: 10px;
}
#sidebar .progress-bar{
	background-color:#ff0080;
}
#kikuk p{
	text-align: center;
	color:#0d6efd;
}




@media (max-width: 768px){
	#sidebar .row #kirinav{
		display: none !important;
	}
	#sidebar #colum {
		/*margin-left: -100px;*/
		text-align: justify;
		flex: 50%;
	}
	#colum {
		margin-top:90px;
		padding-left: 10px;
		padding-right: 30px;
		margin-left: 30px;

	}
	
}
@media (max-width: 576px){
	#sidebar .row #kirinav {
		display: none !important;
	}
	#sidebar #colum {
		/*margin-left: -100px;*/
		text-align: justify;
		flex: 50%;
	}
	#colum {
		margin-top:90px;
		padding-left: 10px;
		padding-right: 30px;
		margin-left: 18px;

	}
	.row #kikuk{
		padding-left:5rem;
		align-items: center;
	}
	#kikuk p{
		text-align: center;
	}
}

@media (max-width : 320px){
	#colum {
		margin-top:90px;
		
		padding-right: 10px;
		margin-left: 10px;
	}
	#sidebar .row #kirinav {
		display: none !important;

}
	.row #kikuk{
		padding-left: 5rem;
	}
}


